*,
*::before,
*::after {
box-sizing: border-box;
}

* {
margin: 0;
padding: 0;
line-height: 1.5;
}

body {
font-family: "Open Sans", sans-serif;
}

.header {
width: 90%;
margin-inline: auto;
display: flex;
/* justify-content: space-between; */
align-items: center;
padding: 1rem 0;
}

.title {
flex: 1;
text-transform: uppercase;
font-weight: 900;
font-size: 1.5rem;
color: black;
letter-spacing: 1px;
justify-content: center;

}

.menu {
display: flex;
gap: 1rem;
text-transform: capitalize;
font-weight: 500;
flex: 1;
justify-content: center;
}

.link {
text-decoration: none;
color: #000;

}

.button-container {
display: flex;
gap: 1rem;
font-family: inherit;
flex: 1;
justify-content: center;
}

.button {
border: none;
background-color: #000;
color: #fff;
border-radius: 4px;
padding: 0.5rem 1rem;
cursor: pointer;
text-transform: capitalize;
}
