*,
*::before,
*::after {
box-sizing: border-box;
}

* {
margin: 0;
padding: 0;
line-height: 1.5;
}

body {
font-family: "Open Sans", sans-serif;
}


/*
header elements */

.header {
display: flex;
align-items: center;
padding: 1rem 0;
}

.header__title {
flex: 1;
text-transform: uppercase;
font-weight: 900;
font-size: 1.5rem;
color: black;
letter-spacing: 1px;
justify-content: center;

}

.header__menu {
display: flex;
gap: 1rem;
text-transform: capitalize;
font-weight: 500;
flex: 1;
justify-content: center;
}

.header__link {
  text-decoration: none;
  color: #000;

}

.header__btn-container {
  display: flex;
  gap: 1rem;
  font-family: inherit;
flex: 1;
justify-content: center;
}

/*
hero section */

.hero__section {
margin-top: 10rem;
text-align: center;

}

.hero__title {
font-size: 4rem;
line-height: 1;
letter-spacing: -0.05em;
max-width: 25ch;
margin-inline: auto;
}

.hero__description {
font-size: 1.2rem;
max-width: 60ch;
margin: 2rem auto;

}



/* utility elements */

.button {
display: inline-block;
border: none;
background-color: #000;
color: #fff;
border-radius: 4px;
padding: 0.5rem 1rem;
cursor: pointer;
text-transform: capitalize;
text-decoration: none;
}

.flex__container {

width: 90%;
margin-inline-start: auto;
}
