*,
*::before,
*::after {
box-sizing: border-box;
}

* {
margin: 0;
padding: 0;
line-height: 1.5;
}

body {
font-family: "Open Sans", sans-serif;
}


/*
header elements */

.header {
display: flex;
align-items: center;
padding: 1rem 0;
}

.header__title {
flex: 1;
text-transform: uppercase;
font-weight: 900;
font-size: 1.5rem;
color: black;
letter-spacing: 1px;
justify-content: center;

}

.header__menu {
display: flex;
gap: 1rem;
text-transform: capitalize;
font-weight: 500;
flex: 1;
justify-content: center;
}

.header__link {
  text-decoration: none;
  color: #000;

}

.header__btn-container {
display: flex;
gap: 1rem;
font-family: inherit;
flex: 1;
justify-content: center;
}

/*
hero section */

.hero__section {
margin-top: 10rem;
text-align: center;

}

.hero__title {
font-size: 4rem;
line-height: 1;
letter-spacing: -0.05em;
max-width: 25ch;
margin-inline: auto;
}

.hero__description {
font-size: 1.2rem;
max-width: 60ch;
margin: 2rem auto;

}

/* pricing section */

.pricing__section {
margin-top: 10rem;

}

.pricing__title {
font-size:2.25rem ;
letter-spacing: -0.05rem;
line-height: 1;
}

.pricing__description {
font-size: 1.2rem;
max-width: 45ch;
margin: 1rem 0;

}

.card__element-container {
display: flex;
gap: 2rem;

}

.card__box {
background-color:#000 ;
color: #fff;
padding: 2rem;
font-size: 0.75rem;
border-radius: 20px;
flex: 1;
}

.pricing__price {
font-size: 2rem;
}

.pricing__plan {
margin: 1rem 0 0.25rem;
}

.pricing__plan-description {
color: #ccc;

}

.pricing__btn {
background-color: #fff;
color: #000;
width: 100%;
padding: 0.5rem 1rem;
margin: 2rem 0;
font-weight: 700;
border-radius: 10000000px;
}

.pricing__features {
padding-left: 1em;
display: flex;
flex-direction: column;
gap: 1 rem;
font-size: 0.9rem;
color: #ccc;

}

/* utility elements */

.button {
display: inline-block;
border: none;
background-color: #000;
color: #fff;
border-radius: 4px;
padding: 0.5rem 1rem;
cursor: pointer;
text-transform: capitalize;
text-decoration: none;
}

.flex__container {
width: 90%;
margin-inline-start: auto;
}

/* features section */

.features__section {
margin-top: 10rem;
text-align: center;

}

.features__title {
font-size: 2.25rem;
letter-spacing: -0.05rem;
line-height: 1;

}

.features__description {
font-size: 1.2rem;
max-width: 45ch;
margin: 1rem auto;

}

.features__container {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 1rem;

}

.f-card__box {
border: 1px solid #ccc;
padding: 2rem;
border-radius: 10px;
width: 500px;



}

.f-card__title {
line-height: 1;


}
.f-card__description {
margin-top: 1rem;


}
